<h1 class="page-header">Info</h1>
<div class="container-fluid">
  <p>
    Fallen Angels is an Odin based FFXIV Free Company.
    We aim to maintain a helpful, mature and no-pressure environment to house old and new players alike.
    We have a <a href="https://discordapp.com" target="_blank">discord</a> server and hold regular community events for fun and prizes.
    Our mansion is at Plot 5, Ward 1 (Mist). Please feel free to take a look!
    If you are interested in joining, send a tell (or mail) to Noms Noms or Mie Mie in-game.
  </p>


  <br><br>
  button tests:
  <br>
  <button class="btn btn-default">Default</button>
  <button class="btn btn-primary">Primary</button>
  <button class="btn btn-success">Success</button>
  <button class="btn btn-danger">Danger</button>
  <button class="btn btn-warning">Warning</button>
  <button class="btn btn-info">Info</button>

</div>
